header {
  max-width: 192rem;
  height: auto;
  margin: 0 auto;
  background-color: $primary-color-for-header;

  .header-inner-container {
    width: 100%;
    display: flex;
    align-items: flex-start;

    .div-before-red {
      width: 20rem;
      height: 42.5rem;
    }

    .div-after-red {
      height: 42.5rem;
      background-color: aqua;
    }

    .red-container {
      width: 32rem;
      height: 42.5rem;
      background-color: $primary-color-for-container;
      padding-left: 3rem;
      position: relative;

      .container-for-img-and-h2 {
        display: flex;
        align-items: flex-start;
        margin: 3rem 0 3.9rem 0;

        img {
          display: inline-block;
          height: 5rem;
          width: 5rem;
        }

        h2 {
          @include fonts-and-sizes(
            Montserrat-Bold,
            1.8rem,
            $primary-color-for-h2
          );

          font-weight: 600;
          text-transform: uppercase;
          margin-left: 0.5rem;
          line-height: 2.5rem;
          letter-spacing: -0.03rem;
        }
      }

      .container-for-img-and-h2 + p {
        @include fonts-and-sizes(
          Montserrat-Regular,
          1rem,
          $primary-color-for-h2
        );
        background-color: $bg-color-for-p;
        width: 9rem;
        text-transform: uppercase;
        text-align: center;
        padding: 0.5rem;
        margin-bottom: 0.7rem;
      }

      h1 {
        @include fonts-and-sizes(
          Montserrat-Bold,
          2.2rem,
          $primary-color-for-h2
        );

        span {
          font-size: 2.6rem;
        }
        width: 28rem;
        margin: 0 0 1.7rem 0.55rem;
        letter-spacing: -0.08rem;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid $primary-color-for-h2;
      }

      h1 + p {
        @include fonts-and-sizes(OpenSans-Light, 1.6rem, $primary-color-for-h2);
        line-height: 2rem;
        margin: 0 0 1.5rem 0.55rem;
        padding-bottom: 2.2rem;
        width: 28rem;
        border-bottom: 1px solid $primary-color-for-h2;
      }

      .for-icon-and-p {
        display: flex;
        align-items: center;
        margin-left: 0.55rem;

        svg {
          width: 2rem;
          height: 2rem;
        }

        p {
          @include fonts-and-sizes(
            Montserrat-Regular,
            1.8rem,
            $primary-color-for-p
          );

          margin-left: 0.7rem;
          text-transform: uppercase;
        }
      }

      .for-fa-icons {
        width: 13rem;
        height: 4rem;
        border-top: 1px solid $primary-color-for-icons;
        border-left: 1px solid $primary-color-for-icons;
        border-bottom: 1px solid $primary-color-for-icons;
        display: grid;
        grid-template: 1fr / repeat(3, 1fr);
        position: absolute;
        right: 0;
        bottom: 0;

        .fa-solid,
        .fa-regular {
          font-size: 2.1rem;
          color: $primary-color-for-icons;

          &:hover {
            cursor: pointer;
            color: $icons-hover;
          }
        }

        .fa-eye,
        .fa-image {
          border-right: 1px solid $primary-color-for-icons;
          padding: 1rem;
        }

        .fa-location-dot {
          padding: 1rem 0 1rem 1rem;
        }
      }
    }
  }
  .red-container + svg {
    display: inline-block;
    width: 6.3rem;
    height: 5.9rem;
  }
  .container-for-borders {
    display: flex;

    .grey-border {
      width: 55rem;
      height: 6.15rem;
      background-color: $primary-color-for-grey-border;
    }

    .black-border {
      width: 137rem;
      height: 6.15rem;
      background-color: $primary-color-for-black-border;
      position: relative;

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16.6rem;
        height: 6.2rem;
        position: absolute;
        left: 51rem;

        .fa-solid {
          font-size: 2.6rem;
          line-height: 2.2rem;
          color: $primary-color-for-icons;
          padding: 2rem;
          border-right: 0.02rem solid $primary-color-for-icons;
          border-left: 0.02rem solid $primary-color-for-icons;

          &:hover {
            cursor: pointer;
            color: $icon-hover;
          }
        }
      }
    }
  }
}
