@media screen and (min-width: 1024px) and (max-width: 1026px) {
  html {
    font-size: 33.3%;
  }
}

@media screen and (min-width: 1027px) and (max-width: 1199px) {
  html {
    font-size: 35.8%;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1202px) {
  html {
    font-size: 39.06%;
  }
}

@media screen and (min-width: 1203px) and (max-width: 1399px) {
  html {
    font-size: 42.32%;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1599px) {
  html {
    font-size: 45.6%;
  }
}

@media screen and (min-width: 1600px) and (max-width: 1919px) {
  html {
    font-size: 52.08%;
  }
}
