main {
  max-width: 192rem;
  height: auto;
  margin: 0 auto;

  .component-4 {
    width: 100%;

    iframe {
      position: absolute;
      z-index: -1;
      width: 192rem;
      height: 44rem;
    }

    .component-4-container {
      width: 35rem;
      height: 44rem;
      background-color: $primary-color-for-container-transparent;
      margin-left: 20rem;
      mix-blend-mode: hard-light;

      h1 {
        @include fonts-and-sizes(Montserrat-Bold, 3rem, $h1-color);
        text-align: center;
        padding-top: 6.5rem;
        margin-bottom: 2rem;
      }

      .pin-circle {
        width: 4.25rem;
        height: 4.25rem;
        border-radius: 50%;
        background-color: $color-for-pin-circle;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        svg {
          width: 3rem;
          height: 3rem;
        }
      }

      .pin-circle + p {
        @include fonts-and-sizes(OpenSans-Light, 1.6rem, $primary-color-for-h2);
        text-align: center;
        line-height: 2rem;
        // padding-top: 1.8rem;
        // padding-bottom: 1.8rem;
        padding: 1.6rem 0 1.8rem 0;
        margin: 0 auto 2.3rem auto;
        // margin-bottom: 2.5rem;
        border-bottom: 1px solid white;
        width: 28rem;
      }

      .directions-p {
        @include fonts-and-sizes(
          Montserrat-Regular,
          1.4rem,
          $primary-color-for-h2
        );
        text-transform: uppercase;
        text-align: center;
        // margin-bottom: 0.1rem;
      }

      .directions-p + svg {
        display: block;
        margin: 0 auto;
        width: 13rem;
        height: 9rem;
      }
    }
  }
}
