@media screen and (min-width: 768px) and (max-width: 1023px) {
  main {
    min-width: 76.8rem;
    max-width: 102.3rem;
    .component-4 {
      width: 100%;

      iframe {
        position: absolute;
        z-index: -1;
        width: 76.8rem;
        height: 43.6rem;
      }

      .component-4-container {
        width: 34.4rem;

        margin-left: 4rem;
        height: 43.6rem;

        h1 {
          @include fonts-and-sizes(Montserrat-Bold, 3rem, $h1-color);
          text-align: center;
          padding-top: 5.5rem;
          margin-bottom: 3rem;
          padding-left: 1rem;
        }

        .pin-circle {
          width: 4.25rem;
          height: 4.25rem;
          border-radius: 50%;
          background-color: $color-for-pin-circle;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 auto 0 auto;

          svg {
            width: 3rem;
            height: 3rem;
          }
        }

        .pin-circle + p {
          @include fonts-and-sizes(
            OpenSans-Light,
            1.6rem,
            $primary-color-for-h2
          );
          text-align: center;
          line-height: 2rem;
          padding-top: 1.8rem;
          padding-bottom: 1.8rem;
          margin: 0 auto 2rem auto;
        }

        .directions-p {
          @include fonts-and-sizes(
            Montserrat-Regular,
            1.4rem,
            $primary-color-for-h2
          );
          text-transform: uppercase;
          text-align: center;
          padding-left: 1rem;
        }

        .directions-p + svg {
          width: 13rem;
          height: 9.5rem;
          padding-left: 1rem;
        }
      }
    }
  }
}
