footer {
  max-width: 192rem;
  height: 16.1rem;
  margin: 0 auto;
  background-color: $footer-bg-color;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.component-footer {
    img {
      display: inline-block;
      margin-top: 3rem;
      margin-left: 20rem;
      width: 21rem;
      height: 7rem;
    }

    p {
      @include fonts-and-sizes(Montserrat-Regular, 1.4rem, $footer-p-color);
      line-height: 1.68rem;
      display: inline-block;
    }

    .fa-angle-up {
      font-size: 3.9rem;
      color: $footer-p-color;
      padding: 1rem;
      margin-right: 10rem;
      border: 1px solid $footer-p-color;
    }
  }
}
