// Colors for component 1
$primary-color-for-container: #ed1c24;

$primary-color-for-h2: #ffffff;

$primary-color-for-header: #eeeeee;

$primary-color-for-grey-border: #dbdbdb;

$primary-color-for-black-border: #111111;

$bg-color-for-p: #111111;

$primary-color-for-p: #fefefe;

$primary-color-for-icons: #ffffff;

// Colors for component 2
$primary-color-div-1: #dbdbdb;
$primary-color-div-2: #898989;
$primary-color-h1: #222222;
$primary-color-p: #222222;

// Colors for component 3
$background-color: #111111;
$h1-color: #fefefe;
$border-color: hsla(358, 85%, 52%, 0.902);

// Colors for component 4
$primary-color-for-container-transparent: hsla(358, 85%, 52%, 0.803);
$color-for-pin-circle: rgba(255, 255, 255, 0.316);

// Color for component 5
$footer-bg-color: #111111;
$footer-p-color: #fefefe;
