$primary-color-for-container: #ed1c24;

$primary-color-for-h2: #ffffff;

$primary-color-for-header: #eeeeee;

$primary-color-for-grey-border: #dbdbdb;

$primary-color-for-black-border: #111111;

$bg-color-for-p: #707070;

$primary-color-for-p: #fefefe;
