@mixin fonts-and-sizes($font-family, $font-size, $color) {
  font-family: $font-family, sans-serif;
  font-size: $font-size;
  color: $color;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;

  /* Does not work on Safari */
  scroll-behavior: smooth;
}
