/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: Montserrat-Black;
  src: url("./fonts/Montserrat-Black.ttf");
}
@font-face {
  font-family: Montserrat-Bold;
  src: url("./fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: Montserrat-ExtraBold;
  src: url("./fonts/Montserrat-ExtraBold.ttf");
}
@font-face {
  font-family: Montserrat-ExtraLight;
  src: url("./fonts/Montserrat-ExtraLight.ttf");
}
@font-face {
  font-family: Montserrat-Light;
  src: url("./fonts/Montserrat-Light.ttf");
}
@font-face {
  font-family: Montserrat-Medium;
  src: url("./fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: Montserrat-Regular;
  src: url("./fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: Montserrat-SemiBold;
  src: url("./fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: Montserrat-Thin;
  src: url("./fonts/Montserrat-Thin.ttf");
}
@media screen and (min-width: 1024px) and (max-width: 1920px) {
  header {
    max-width: 1920px;
    height: auto;
    margin: 0 auto;
    background-color: #eeeeee;
  }
  header .header-inner-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
  }
  header .header-inner-container .div-before-red {
    width: 10.42%;
    height: 425px;
  }
  header .header-inner-container .div-after-red {
    width: 68%;
    height: 425px;
    background-color: aqua;
  }
  header .header-inner-container .red-container {
    width: 16.41%;
    height: 425px;
    background-color: #ed1c24;
    padding-left: 1.82%;
  }
  header .header-inner-container .red-container .container-for-img-and-h2 {
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  header .header-inner-container .red-container .container-for-img-and-h2 h2 {
    font-family: Montserrat-Bold, sans-serif;
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
  }
  header .header-inner-container .red-container .container-for-img-and-h2 + p {
    font-family: Montserrat-Regular, sans-serif;
    font-size: 10px;
    color: #ffffff;
    background-color: #707070;
    width: 100px;
    text-transform: uppercase;
    text-align: center;
  }
  header .header-inner-container .red-container h1 {
    font-family: Montserrat-Bold, sans-serif;
    font-size: 22px;
    color: #ffffff;
  }
  header .header-inner-container .red-container h1 span {
    font-size: 26px;
  }
  header .header-inner-container .red-container h1 + p {
    font-family: sans-serif, sans-serif;
    font-size: 16px;
    color: #ffffff;
  }
  header .header-inner-container .red-container .for-icon-and-p {
    display: flex;
  }
  header .header-inner-container .red-container .for-icon-and-p p {
    font-family: Montserrat-Regular, sans-serif;
    font-size: 18px;
    color: #fefefe;
    text-transform: uppercase;
  }
  header .red-container + svg {
    display: inline-block;
    width: 3.35%;
  }
  header .container-for-borders {
    display: flex;
  }
  header .container-for-borders .grey-border {
    width: 28.646%;
    height: 65px;
    background-color: #dbdbdb;
  }
  header .container-for-borders .black-border {
    width: 71.354%;
    height: 65px;
    background-color: #111111;
  }
}

/*# sourceMappingURL=index.css.map */
