/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  /* Does not work on Safari */
  scroll-behavior: smooth;
}

@font-face {
  font-family: Montserrat-Black;
  src: url("./fonts/Montserrat-Black.ttf");
}
@font-face {
  font-family: Montserrat-Bold;
  src: url("./fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: Montserrat-ExtraBold;
  src: url("./fonts/Montserrat-ExtraBold.ttf");
}
@font-face {
  font-family: Montserrat-ExtraLight;
  src: url("./fonts/Montserrat-ExtraLight.ttf");
}
@font-face {
  font-family: Montserrat-Light;
  src: url("./fonts/Montserrat-Light.ttf");
}
@font-face {
  font-family: Montserrat-Medium;
  src: url("./fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: Montserrat-Regular;
  src: url("./fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: Montserrat-SemiBold;
  src: url("./fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: Montserrat-Thin;
  src: url("./fonts/Montserrat-Thin.ttf");
}
@font-face {
  font-family: OpenSans-Light;
  src: url("./fonts/OpenSans-Light.ttf");
}
@media screen and (min-width: 1024px) and (max-width: 1026px) {
  html {
    font-size: 33.3%;
  }
}
@media screen and (min-width: 1027px) and (max-width: 1199px) {
  html {
    font-size: 35.8%;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1202px) {
  html {
    font-size: 39.06%;
  }
}
@media screen and (min-width: 1203px) and (max-width: 1399px) {
  html {
    font-size: 42.32%;
  }
}
@media screen and (min-width: 1400px) and (max-width: 1599px) {
  html {
    font-size: 45.6%;
  }
}
@media screen and (min-width: 1600px) and (max-width: 1920px) {
  html {
    font-size: 52.08%;
  }
}
header {
  max-width: 192rem;
  height: auto;
  margin: 0 auto;
  background-color: #eeeeee;
}
header .header-inner-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
}
header .header-inner-container .div-before-red {
  width: 20rem;
  height: 42.5rem;
}
header .header-inner-container .div-after-red {
  height: 42.5rem;
  background-color: aqua;
}
header .header-inner-container .red-container {
  width: 32rem;
  height: 42.5rem;
  background-color: #ed1c24;
  padding-left: 3rem;
  position: relative;
}
header .header-inner-container .red-container .container-for-img-and-h2 {
  display: flex;
  align-items: flex-start;
  margin-top: 3rem;
  margin-bottom: 3.9rem;
}
header .header-inner-container .red-container .container-for-img-and-h2 img {
  display: inline-block;
  height: 5rem;
  width: 5rem;
}
header .header-inner-container .red-container .container-for-img-and-h2 h2 {
  font-family: Montserrat-Bold, sans-serif;
  font-size: 1.8rem;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 0.5rem;
  line-height: 2.5rem;
  letter-spacing: -0.03rem;
}
header .header-inner-container .red-container .container-for-img-and-h2 + p {
  font-family: Montserrat-Regular, sans-serif;
  font-size: 1rem;
  color: #ffffff;
  background-color: #111111;
  width: 9rem;
  text-transform: uppercase;
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 0.7rem;
}
header .header-inner-container .red-container h1 {
  font-family: Montserrat-Bold, sans-serif;
  font-size: 2.2rem;
  color: #ffffff;
  width: 28rem;
  margin: 0 0 1.7rem 0.55rem;
  letter-spacing: -0.08rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #ffffff;
}
header .header-inner-container .red-container h1 span {
  font-size: 2.6rem;
}
header .header-inner-container .red-container h1 + p {
  font-family: OpenSans-Light, sans-serif;
  font-size: 1.6rem;
  color: #ffffff;
  line-height: 2rem;
  margin: 0 0 1.5rem 0.55rem;
  padding-bottom: 2.2rem;
  width: 28rem;
  border-bottom: 1px solid #ffffff;
}
header .header-inner-container .red-container .for-icon-and-p {
  display: flex;
  align-items: center;
  margin-left: 0.55rem;
}
header .header-inner-container .red-container .for-icon-and-p svg {
  width: 2rem;
  height: 2rem;
}
header .header-inner-container .red-container .for-icon-and-p p {
  font-family: Montserrat-Regular, sans-serif;
  font-size: 1.8rem;
  color: #fefefe;
  margin-left: 0.7rem;
  text-transform: uppercase;
}
header .header-inner-container .red-container .for-fa-icons {
  width: 13rem;
  height: 4rem;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  display: grid;
  grid-template: 1fr/repeat(3, 1fr);
  position: absolute;
  right: 0;
  bottom: 0;
}
header .header-inner-container .red-container .for-fa-icons .fa-solid,
header .header-inner-container .red-container .for-fa-icons .fa-regular {
  font-size: 2.1rem;
  color: #ffffff;
}
header .header-inner-container .red-container .for-fa-icons .fa-solid:hover,
header .header-inner-container .red-container .for-fa-icons .fa-regular:hover {
  cursor: pointer;
  color: #111111;
}
header .header-inner-container .red-container .for-fa-icons .fa-eye,
header .header-inner-container .red-container .for-fa-icons .fa-image {
  border-right: 1px solid #ffffff;
  padding: 1rem;
}
header .header-inner-container .red-container .for-fa-icons .fa-location-dot {
  padding: 1rem 0 1rem 1rem;
}
header .red-container + svg {
  display: inline-block;
  width: 6.3rem;
  height: 5.9rem;
}
header .container-for-borders {
  display: flex;
}
header .container-for-borders .grey-border {
  width: 55rem;
  height: 6.5rem;
  background-color: #dbdbdb;
}
header .container-for-borders .black-border {
  width: 137rem;
  height: 6.5rem;
  background-color: #111111;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .container-for-borders .black-border div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 16.6rem;
  height: 6.2rem;
}
header .container-for-borders .black-border div .fa-solid {
  font-size: 2.6rem;
  line-height: 2.2rem;
  color: #ffffff;
  padding: 1rem;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
}
header .container-for-borders .black-border div .fa-solid:hover {
  cursor: pointer;
  color: #ed1c24;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  header {
    min-width: 76.8rem;
    max-width: 102.3rem;
  }
  header .header-inner-container .div-before-red {
    width: 4rem;
  }
  header .header-inner-container .red-container {
    width: 31.5rem;
  }
  header .header-inner-container .red-container .container-for-img-and-h2 {
    margin-top: 2.5rem;
    margin-bottom: 4.2rem;
  }
  header .container-for-borders .grey-border {
    width: 4rem;
  }
  header .container-for-borders .black-border {
    width: 73rem;
    justify-content: flex-end;
  }
  header .container-for-borders .black-border div {
    margin-right: 3rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  header {
    min-width: 32rem;
    max-width: 76.7rem;
  }
  header .header-inner-container {
    justify-content: space-around;
  }
  header .header-inner-container .div-before-red {
    width: 0;
  }
  header .header-inner-container .red-container {
    width: 24.3rem;
  }
  header .header-inner-container .red-container .for-fa-icons {
    border: 1px solid #ffffff;
    position: absolute;
    right: 50%;
    bottom: 0;
    transform: translate(50%);
  }
  header .red-container + svg {
    position: absolute;
    right: 2.3rem;
    top: 1.5rem;
  }
  header .container-for-borders .grey-border {
    width: 0;
  }
  header .container-for-borders .black-border {
    width: 100%;
    height: 6rem;
  }
  header .container-for-borders .black-border div .fa-solid {
    visibility: hidden;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1026px) {
  html {
    font-size: 33.3%;
  }
}
@media screen and (min-width: 1027px) and (max-width: 1199px) {
  html {
    font-size: 35.8%;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1202px) {
  html {
    font-size: 39.06%;
  }
}
@media screen and (min-width: 1203px) and (max-width: 1399px) {
  html {
    font-size: 42.32%;
  }
}
@media screen and (min-width: 1400px) and (max-width: 1599px) {
  html {
    font-size: 45.6%;
  }
}
@media screen and (min-width: 1600px) and (max-width: 1919px) {
  html {
    font-size: 52.08%;
  }
}
main {
  max-width: 192rem;
  height: auto;
  margin: 0 auto;
}
main .component-2 {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
main .component-2 .container-for-divs {
  display: flex;
}
main .component-2 .container-for-divs .div-before-grey {
  width: 20rem;
  height: 52rem;
  background-color: #dbdbdb;
}
main .component-2 .container-for-divs .grey-container {
  width: 35rem;
  height: 52rem;
  background-color: #898989;
  margin-right: 5rem;
}
main .component-2 .text-container h1 {
  font-family: Montserrat-Bold, sans-serif;
  font-size: 3rem;
  color: #222222;
  margin: 4rem 0 4.4rem 0;
  letter-spacing: -0.1rem;
}
main .component-2 .text-container .p-grid-container {
  width: 59.5rem;
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(2, 1fr);
  row-gap: 2.5rem;
}
main .component-2 .text-container .p-grid-container .p1 {
  font-family: OpenSans-Light, sans-serif;
  font-size: 2rem;
  color: #222222;
  grid-column: span 2;
  line-height: 3rem;
  margin-bottom: 0.2rem;
}
main .component-2 .text-container .p-grid-container .p2,
main .component-2 .text-container .p-grid-container .p3,
main .component-2 .text-container .p-grid-container .p4 {
  font-family: OpenSans-Light, sans-serif;
  font-size: 1.4rem;
  color: #222222;
  line-height: 2rem;
}
main .component-2 .text-container .p-grid-container .p4 {
  grid-column: span 2;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  main {
    min-width: 76.8rem;
    max-width: 102.3rem;
  }
  main .component-2 {
    height: 47rem;
  }
  main .component-2 .container-for-divs {
    display: flex;
  }
  main .component-2 .container-for-divs .div-before-grey {
    width: 0;
    height: 0;
    display: none;
  }
  main .component-2 .container-for-divs .grey-container {
    width: 0;
    height: 0;
    display: none;
  }
  main .component-2 .text-container {
    margin-left: 9rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  main {
    min-width: 32rem;
    max-width: 76.7rem;
  }
  main .component-2 {
    height: 59.3rem;
  }
  main .component-2 .container-for-divs {
    display: flex;
  }
  main .component-2 .container-for-divs .div-before-grey {
    width: 0;
    height: 0;
    display: none;
  }
  main .component-2 .container-for-divs .grey-container {
    width: 0;
    height: 0;
    display: none;
  }
  main .component-2 .text-container {
    margin-left: 0 auto;
    width: 32rem;
  }
  main .component-2 .text-container h1 {
    text-align: center;
    font-size: 2.4rem;
    margin-top: 3.2rem;
    margin-bottom: 2.8rem;
  }
  main .component-2 .text-container .p-grid-container {
    width: auto;
    display: flex;
    flex-direction: column;
  }
  main .component-2 .text-container .p-grid-container p {
    text-align: center;
  }
  main .component-2 .text-container .p-grid-container .p1 {
    font-size: 1.8rem;
  }
  main .component-2 .text-container .p-grid-container .p1,
main .component-2 .text-container .p-grid-container .p2 {
    grid-column: span 0;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1026px) {
  html {
    font-size: 33.3%;
  }
}
@media screen and (min-width: 1027px) and (max-width: 1199px) {
  html {
    font-size: 35.8%;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1202px) {
  html {
    font-size: 39.06%;
  }
}
@media screen and (min-width: 1203px) and (max-width: 1399px) {
  html {
    font-size: 42.32%;
  }
}
@media screen and (min-width: 1400px) and (max-width: 1599px) {
  html {
    font-size: 45.6%;
  }
}
@media screen and (min-width: 1600px) and (max-width: 1919px) {
  html {
    font-size: 52.08%;
  }
}
main {
  max-width: 192rem;
  height: auto;
  margin: 0 auto;
}
main .component-3 {
  display: flex;
  justify-content: flex-start;
  background-color: #111111;
  padding: 5.2rem 0 5.5rem 20rem;
}
main .component-3 .huge-div {
  width: 62.2rem;
  height: 40.9rem;
  background-color: #fefefe;
  margin-right: 3.2rem;
}
main .component-3 h1 {
  font-family: Montserrat-Bold, sans-serif;
  font-size: 3rem;
  color: #fefefe;
  line-height: 2.5rem;
  margin-bottom: 3.9rem;
  letter-spacing: -0.1rem;
}
main .component-3 .grid-container-div {
  display: grid;
  grid-template: repeat(3, 10.702rem)/repeat(3, 10.09rem);
  column-gap: 2rem;
  row-gap: 1.45rem;
}
main .component-3 .grid-container-div div {
  width: 8.8rem;
  height: 8rem;
  background-color: #fefefe;
  border: 7px solid #fefefe;
}
main .component-3 .grid-container-div div:hover {
  border-color: hsla(358deg, 85%, 52%, 0.902);
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  main {
    min-width: 76.8rem;
    max-width: 102.3rem;
  }
  main .component-3 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #111111;
    padding: 0 0 5.5rem 0;
    position: relative;
  }
  main .component-3 .huge-div {
    width: 59.2rem;
    height: 29.6rem;
    background-color: #fefefe;
    margin: 10rem auto 2.2rem 9rem;
  }
  main .component-3 h1 {
    font-family: Montserrat-Bold, sans-serif;
    font-size: 3rem;
    color: #fefefe;
    line-height: 2.5rem;
    padding-top: 4.5rem;
    padding-bottom: 3.9rem;
    letter-spacing: -0.1rem;
    position: absolute;
    top: 0;
    left: 9rem;
  }
  main .component-3 .grid-container-div {
    display: flex;
    width: 59.2rem;
    justify-content: space-between;
    margin: 0 auto 0 9rem;
  }
  main .component-3 .grid-container-div div {
    width: 9.4rem;
    height: 8.6rem;
  }
  main .component-3 .grid-container-div .cube-hidden {
    width: 0;
    height: 0;
    border: none;
    visibility: hidden;
    display: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  main {
    min-width: 32rem;
    max-width: 76.7rem;
  }
  main .component-3 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #111111;
    padding: 0 0 5rem 0;
    position: relative;
  }
  main .component-3 .huge-div {
    width: 27.1rem;
    height: 19.1rem;
    background-color: #fefefe;
    margin: 10.5rem auto 1.8rem auto;
  }
  main .component-3 h1 {
    font-size: 2.4rem;
    line-height: 2.5rem;
    padding-top: 4rem;
    padding-bottom: 3.9rem;
    letter-spacing: -0.1rem;
    position: absolute;
    top: 0;
    left: 11.5rem;
  }
  main .component-3 .grid-container-div {
    display: flex;
    width: 59.2rem;
    justify-content: space-between;
    margin: 0 auto 0 9rem;
  }
  main .component-3 .grid-container-div div {
    width: 9.4rem;
    height: 8.6rem;
  }
  main .component-3 .grid-container-div .cube-hidden {
    width: 0;
    height: 0;
    border: none;
    visibility: hidden;
    display: none;
  }
  main .component-3 .grid-container-div .cube-mobile {
    width: 0;
    height: 0;
    border: none;
    visibility: hidden;
    display: none;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1026px) {
  html {
    font-size: 33.3%;
  }
}
@media screen and (min-width: 1027px) and (max-width: 1199px) {
  html {
    font-size: 35.8%;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1202px) {
  html {
    font-size: 39.06%;
  }
}
@media screen and (min-width: 1203px) and (max-width: 1399px) {
  html {
    font-size: 42.32%;
  }
}
@media screen and (min-width: 1400px) and (max-width: 1599px) {
  html {
    font-size: 45.6%;
  }
}
@media screen and (min-width: 1600px) and (max-width: 1919px) {
  html {
    font-size: 52.08%;
  }
}
main {
  max-width: 192rem;
  height: auto;
  margin: 0 auto;
}
main .component-4 {
  width: 100%;
}
main .component-4 iframe {
  position: absolute;
  z-index: -1;
  width: 192rem;
  height: 44rem;
}
main .component-4 .component-4-container {
  width: 35rem;
  height: 44rem;
  background-color: hsla(358deg, 85%, 52%, 0.803);
  margin-left: 20rem;
}
main .component-4 .component-4-container h1 {
  font-family: Montserrat-Bold, sans-serif;
  font-size: 3rem;
  color: #fefefe;
  text-align: center;
  padding-top: 6.5rem;
  margin-bottom: 2rem;
}
main .component-4 .component-4-container .pin-circle {
  width: 4.25rem;
  height: 4.25rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.316);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
main .component-4 .component-4-container .pin-circle svg {
  width: 2rem;
  height: 2rem;
}
main .component-4 .component-4-container .pin-circle + p {
  font-family: OpenSans-Light, sans-serif;
  font-size: 1.6rem;
  color: #ffffff;
  text-align: center;
  line-height: 2rem;
  padding: 1.8rem 0 1.8rem 0;
  margin: 0 auto 2.3rem auto;
  border-bottom: 1px solid white;
  width: 28rem;
}
main .component-4 .component-4-container .directions-p {
  font-family: Montserrat-Regular, sans-serif;
  font-size: 1.4rem;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}
main .component-4 .component-4-container .directions-p + svg {
  display: block;
  margin: 0 auto;
  width: 14rem;
  height: 10rem;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  main {
    min-width: 76.8rem;
    max-width: 102.3rem;
  }
  main .component-4 {
    width: 100%;
  }
  main .component-4 iframe {
    position: absolute;
    z-index: -1;
    width: 76.8rem;
    height: 44rem;
  }
  main .component-4 .component-4-container {
    width: 34.4rem;
    margin-left: 4rem;
  }
  main .component-4 .component-4-container h1 {
    font-family: Montserrat-Bold, sans-serif;
    font-size: 3rem;
    color: #fefefe;
    text-align: center;
    padding-top: 5.5rem;
    margin-bottom: 3rem;
  }
  main .component-4 .component-4-container .pin-circle {
    width: 4.25rem;
    height: 4.25rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.316);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 0.1rem auto;
  }
  main .component-4 .component-4-container .pin-circle svg {
    width: 2rem;
    height: 2rem;
  }
  main .component-4 .component-4-container .pin-circle + p {
    font-family: OpenSans-Light, sans-serif;
    font-size: 1.6rem;
    color: #ffffff;
    text-align: center;
    line-height: 2rem;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    margin: 0 auto 2rem auto;
  }
  main .component-4 .component-4-container .directions-p {
    font-family: Montserrat-Regular, sans-serif;
    font-size: 1.4rem;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  main {
    min-width: 32rem;
    max-width: 76.7rem;
  }
  main .component-4 {
    width: 100%;
  }
  main .component-4 iframe {
    position: absolute;
    z-index: -1;
    width: 32rem;
    height: 40.3rem;
  }
  main .component-4 .component-4-container {
    width: 27rem;
    height: 40.3rem;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1026px) {
  html {
    font-size: 33.3%;
  }
}
@media screen and (min-width: 1027px) and (max-width: 1199px) {
  html {
    font-size: 35.8%;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1202px) {
  html {
    font-size: 39.06%;
  }
}
@media screen and (min-width: 1203px) and (max-width: 1399px) {
  html {
    font-size: 42.32%;
  }
}
@media screen and (min-width: 1400px) and (max-width: 1599px) {
  html {
    font-size: 45.6%;
  }
}
@media screen and (min-width: 1600px) and (max-width: 1919px) {
  html {
    font-size: 52.08%;
  }
}
footer {
  max-width: 192rem;
  height: 16.1rem;
  margin: 0 auto;
  background-color: #111111;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
footer.component-footer img {
  display: inline-block;
  margin: 3rem 36rem 0 20rem;
  width: 21rem;
  height: 7rem;
}
footer.component-footer p {
  font-family: Montserrat-Regular, sans-serif;
  font-size: 1.4rem;
  color: #fefefe;
  line-height: 1.68rem;
  display: inline-block;
  font-weight: bold;
  margin-right: 27.5rem;
}
footer.component-footer p:hover {
  cursor: pointer;
  padding-bottom: 0.5rem;
}
footer.component-footer p:hover span {
  display: inline-block;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #ed1c24;
}
footer.component-footer .fa-angle-up {
  font-size: 3.9rem;
  color: #fefefe;
  padding: 0.2rem;
  margin-right: 12rem;
  border: 1px solid #fefefe;
}
footer.component-footer .fa-angle-up:hover {
  cursor: pointer;
  color: #ed1c24;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  footer {
    min-width: 76.8rem;
    max-width: 102.3rem;
    position: relative;
    height: 16.1rem;
    margin: 0 auto;
    background-color: #111111;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  footer.component-footer img {
    display: inline-block;
    margin-top: 0;
    margin-left: 0;
    width: 21rem;
    height: 7rem;
    position: absolute;
    top: 3.5rem;
    left: 5.5rem;
  }
  footer.component-footer p {
    font-family: Montserrat-Regular, sans-serif;
    font-size: 1.4rem;
    color: #fefefe;
    line-height: 1.68rem;
    display: inline-block;
    position: absolute;
    top: 10rem;
    left: 8.5rem;
  }
  footer.component-footer .fa-angle-up {
    font-size: 2.4rem;
    color: #fefefe;
    padding: 0.8rem;
    margin-right: 10rem;
    border: 2px solid #fefefe;
    position: absolute;
    top: 6rem;
    right: 0;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  footer {
    min-width: 32rem;
    max-width: 76.7rem;
    height: 16.1rem;
    margin: 0 auto;
    background-color: #111111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  footer.component-footer img {
    display: inline-block;
    margin-top: 0;
    margin-left: 0;
    width: 18rem;
    height: 6rem;
    position: absolute;
    top: 3rem;
  }
  footer.component-footer p {
    font-family: Montserrat-Regular, sans-serif;
    font-size: 1.4rem;
    color: #fefefe;
    line-height: 1.68rem;
    display: block;
    position: absolute;
    top: 10.5rem;
    left: 2.5rem;
  }
  footer.component-footer .fa-angle-up {
    font-size: 2.4rem;
    color: #fefefe;
    padding: 0.8rem;
    margin-right: 0;
    border: 2px solid #fefefe;
    display: inline-block;
    position: absolute;
    top: 2rem;
    right: 2.5rem;
  }
}

/*# sourceMappingURL=index.css.map */
